/* .profileAesthetics {
    text-align: center;
    display: flex;
    min-height: 60px;
    align-items:center;
    justify-content:space-around;
    flex-direction: row;
    background-color: rgb(237, 218, 114);
    border: 1px solid black;
    border-radius: 10px;
  } */