/* .profileAesthetics {
  text-align: center;
  display: flex;
  align-items:center;
  justify-content:space-around;
  flex-direction: row;
  background-color: bisque;
  border: 2px solid black;
} */

/* .containerProfile {
  background-color: goldenrod;
  flex-direction: column;
  display: flex;

} */

/* @media screen and (min-width: 600px) { 
  .profileAesthetics{
      padding: 5rem;
      border: 1px solid black;
      border-radius: 10px;
      margin: 0.5rem;
      flex-direction: row;
  }
} */

/* @media screen and (max-width: 1024px) {
  .profileAesthetics{
      padding: 5rem;
      border: 1px solid black;
      border-radius: 10px;
      margin: 0.5rem;
      flex-direction: column;
  }
} */

/* .btn-primary{
  margin-left: 9px;

} */

/* .avatar {
  border: 1px solid black;
  border-style:dotted;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: 50px;
} */