.profileAesthetics {
  text-align: center;
  display: flex;
  align-items:center;
  justify-content:space-around;
  flex-direction: row;
  background-color: bisque;
  border: 2px solid black;
}

.containerProfile {
  background-color: goldenrod;
  flex-direction: column;
  display: flex;

}

@media screen and (min-width: 600px) { 
  .profileAesthetics, .containerProfile{
      padding: 5rem;
      border: 1px solid black;
      border-radius: 10px;
      margin: 0.5rem;
      flex-direction: row;
  }
}

@media screen and (max-width: 1024px) {
  .profileAesthetics, .containerProfile{
      padding: 5rem;
      border: 1px solid black;
      border-radius: 10px;
      margin: 0.5rem;
      flex-direction: column;
  }
}