.headerAesthetics {
  
    height: 25vh;
    width: 100vw;
    background-color: rgb(234, 244, 242);
    color: white; 
     display: flex;
    /* align-items: flex-end; */
    justify-content:left;
    flex-direction: row;

}