.headerAesthetics {
  
    height: 25vh;
    width: 100vw;
    background-color: rgb(6, 132, 107);
    color: white; 
     display: flex;
    /* align-items: flex-end; */
    justify-content:left;
    flex-direction: row;

}