.profileCardAesthetics {
  text-align: center;
  display: flex;

  align-items:center;
  justify-content:space-around;
  flex-direction: row;
  background-color: black; 
   /* border: 2px solid black;  */
}
.containerProfile {
  background-color:rgb(237, 218, 114);
  flex-direction: column;
  display: flex;

}

@media screen and (min-width: 600px) { 
   .profileCardAesthetics, .containerProfile{
      padding: 5rem;
      border: 1px solid black;
      border-radius: 10px;
      margin: 0.5rem;
      flex-direction: row;
  }
}

@media screen and (max-width: 1024px) {
  .profileCardAesthetics, .containerProfile{
      padding: 2rem;
      border: 1px solid black;
      border-radius: 10px;
      margin: 0.5rem;
      flex-direction: column;
  }
}

.btn-primary{
  margin-left: 9px;

}

.avatar {
  border: 1px solid black;
  border-style:dotted;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: 50px;
}